<form [formGroup]="newEventForm"
(ngSubmit)="onSubmit()">

  <label>Event Name</label>
  <input type="text" formControlName="name">
  @if (
    newEventForm.get('name')?.invalid &&
    newEventForm.get('name')?.touched
    ) {
    <p>Event name is required.</p>
  }

  <label>Description</label>
  <textarea formControlName="description"></textarea>
  @if (
    newEventForm.get('description')?.invalid &&
    newEventForm.get('description')?.touched
    ) {
    <p>Description is required.</p>
  }

  <label>Venue</label>
  <input type="text" formControlName="venue">
  @if (
    newEventForm.get('venue')?.invalid &&
    newEventForm.get('venue')?.touched
    ) {
    <p>Venue name is required.</p>
  }

  <label>Address</label>
  <input type="text" formControlName="address">
  @if (
    newEventForm.get('address')?.invalid &&
    newEventForm.get('address')?.touched
    ) {
    <p>Address is required.</p>
  }

  <label>City</label>
  <input type="text" formControlName="city">
  @if (
    newEventForm.get('city')?.invalid &&
    newEventForm.get('city')?.touched
    ) {
    <p>City name is required.</p>
  }

  <label>Country</label>
  <input type="text" formControlName="country">
  @if (
    newEventForm.get('country')?.invalid &&
    newEventForm.get('country')?.touched
    ) {
    <p>Country name is required.</p>
  }

  <label>Start Date & Time</label>
  <input type="datetime-local"
         formControlName="startDateTime">
  @if (
    newEventForm.get('startDateTime')?.invalid &&
    newEventForm.get('startDateTime')?.touched
    ) {
    <p>Start date & time is required.</p>
  }


  <label>End Date & Time</label>
  <input type="datetime-local"
         formControlName="endDateTime">
  @if (
    newEventForm.get('endDateTime')?.invalid &&
    newEventForm.get('endDateTime')?.touched
    ) {
    <p>End date & time is required.</p>
  }

  <label>Capacity</label>
  <input type="number"
         formControlName="capacity">
  @if (
    newEventForm.get('capacity')?.errors?.['min'] &&
    newEventForm.get('capacity')?.touched
    ) {
    <p>Capacity must be greater than 0.</p>
  }
  @if (
    newEventForm.get('capacity')?.errors?.['required'] &&
    newEventForm.get('capacity')?.touched
    ) {
    <p>Capacity is required.</p>
  }

  <button type="submit" [disabled]="newEventForm.invalid">
    Create Event
  </button>

</form>
