
 <!--Θέλουμε επίσης να εξαφανίζεται όταν αλλάζει η σελίδα!-->

<nav>
  <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    Home
  </a>
  |

  <!-- Browse Events is public: guests and logged-in users can see it -->
  <a routerLink="/events" routerLinkActive="active"> <!-- If the current user is a guest or a Registered user, we show them the browse events page !-->
    Browse Events
  </a>
  |

  @if (authService.currentUser(); as user) {
    <!-- Logged-in user area -->

    @if (authService.hasRole('user')) {
      <a routerLink="/manage-events" routerLinkActive="active">
        Manage Events
      </a>
      |

      <a routerLink="/messaging" routerLinkActive="active">
        Messaging
      </a>
      |
    }

    @if (authService.hasRole('admin')) {
      <a routerLink="/admin" routerLinkActive="active">
        Admin Page
      </a>
      |
    }

    Welcome, {{ user.username }}

    <button (click)="authService.logout()">
      Log out
    </button>
  } @else {
    <!-- Guest area -->
      <!-- Log-In and sign-up buttons only show up for guests !-->
      Welcome, Guest |

    <button (click)="changeShowLoginForm()">
      Log in
    </button>
    |

    <a routerLink="/signup" routerLinkActive="active">
      Sign up
    </a>
  }
</nav>

@if (showLoginForm) {
  <app-login-form></app-login-form>
}
